main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Chi-Siamo-Container {
    width: 95%;
    height: fit-content;
    text-wrap: wrap;
}

#Team-Container,
.team-card-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.team-card {
    background-color: white;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.team-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-title {
    color: black;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
    padding-top: 10px;
}

.team-card ul li:first-child {
    text-align: center;
    padding: 45px 0;
}

.list-group-item {
    padding: 25px 0;
}
