body {
    background-color: rgb(15, 20, 26);
}

main {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* Disclaimer Page Container */
#Disclaimer-Page {
    max-width: 1000px;
    margin: 2rem;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(159, 159, 159, 0.2);
    font-family: "Arial", sans-serif;
    color: #f9f9f9;
    line-height: 1.6;
}

/* Headings */
#Disclaimer-Page h1,
#Disclaimer-Page h2,
#Disclaimer-Page h3 {
    color: rgb(255, 71, 71);
    margin-bottom: 15px;
}

#Disclaimer-Page h1 {
    font-size: 2rem;
    text-align: center;
}

/* Paragraphs */
#Disclaimer-Page p {
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Lists */
#Disclaimer-Page ul {
    list-style: disc inside;
    margin-bottom: 20px;
    padding-left: 20px;
}

#Disclaimer-Page li {
    margin-bottom: 10px;
}

/* Important text */
#Disclaimer-Page u,
#Disclaimer-Page strong {
    color: rgb(79, 162, 207);
}

/* Accept Button */
#Disclaimer-Page #Accept-Btn {
    display: block;
    margin: 30px auto 0 auto;
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

#Accept-Btn {
    background-color: rgb(255, 215, 0);
    border-color: rgb(209, 178, 1);
    color: black;
}
#Accept-Btn:hover {
    background-color: rgb(255, 230, 64);
    border-color: rgb(238, 212, 62);
    color: black;
}
#Accept-Btn:active,
#Accept-Btn:active:focus {
    background-color: rgb(185, 158, 9);
    border-color: rgb(142, 122, 8);
    box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
    #Disclaimer-Page {
        width: auto;
        padding: 20px;
        margin: 40px 25px;
    }
    #Disclaimer-Page h1 {
        font-size: 1.6rem;
    }
}
