/* Breadcrumb */
main {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Breadcrumb-Nav {
    margin: 20px;
}

/* Bike Focus Card */
.bike-podium {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.bike-focus-card {
    background-color: white;
    width: 60%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;
}
.bike-focus-card * {
    background-color: white;
}
.bike-focus-card img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.bike-focus-card .list-group-item {
    padding: 20px;
}

.card-title {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

.btn {
    margin-top: 10px;
    height: fit-content;
}

.price {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.603);
}
