/* Breadcrumb */
main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bike Grid */
.bike-grid {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.back-btn {
    width: fit-content !important;
    background-color: #4f647a; /* normal (lighter than active) */
    border-color: #4f647a;
}

/* Hover → even lighter */
.back-btn:hover {
    background-color: #6a8096;
    border-color: #6a8096;
}

/* Active → darkest (your base color) */
.back-btn:active,
.back-btn:active:focus {
    background-color: #384b5d;
    border-color: #384b5d;
}

.brand-card,
.category-card,
.bike-card {
    background-color: white;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.brand-card {
    min-width: 300px;
}

.bike-card {
    width: 350px;
    height: 600px;
}

.bike-grid {
    gap: 15px;
    width: 100%;
}

.bike-grid.brands {
    width: 995px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bike-grid.categories,
.bike-grid.bikes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-card img,
.category-card img,
.bike-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-title {
    color: black;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: wrap;
}

.card-link {
    font-size: 0.9rem;
}

.price {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.603);
}
