main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Form-Container {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Form input,
#Form select {
    height: 70px;
}

.select {
    width: 100%;
}

.date-time {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.date-time div {
    width: 50%;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    width: 250px !important;
}
/* All inputs and selects inside forms */
form input:focus,
form input:focus-visible,
form select:focus,
form select:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(151, 170, 196, 0.381) !important;
    border-color: #ffffff;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-submit {
    background-color: rgb(80, 200, 0);
    border-color: rgb(80, 183, 0);
    color: rgb(0, 0, 0);
    height: 70px;
    font-size: 1.1rem;
}
.btn-submit:hover {
    background-color: rgb(120, 220, 80);
    border-color: rgb(100, 203, 60);
}
.btn-submit:active,
.btn-submit:active:focus {
    background-color: rgb(50, 150, 0);
    border-color: rgb(50, 135, 0);
    box-shadow: none;
}

.btn-clear {
    background-color: rgb(220, 0, 0);
    border-color: rgb(220, 0, 0);
    height: 70px;
    font-size: 1.1rem;
}
.btn-clear:hover {
    background-color: rgb(240, 80, 80);
    border-color: rgb(235, 70, 70);
}
.btn-clear:active,
.btn-clear:active:focus {
    background-color: rgb(180, 0, 0);
    border-color: rgb(160, 0, 0);
    box-shadow: none;
}

.success {
    text-align: center;
    padding: 100px 50px;
    background: #e8ffe8;
    border-radius: 5px;
    font-family: sans-serif;
    color: black;
}
.success h2 {
    color: #2d7d2d;
}
