@media only screen and (min-width: 2000px) {
    #Chi-Siamo-Container {
        width: 95%;
    }

    #Team-Container {
        gap: auto;
    }

    .team-card {
        width: 450px;
        height: 700px;
    }
}
@media only screen and (max-width: 1600px) {
    #Chi-Siamo-Container {
        width: 95%;
    }

    #Team-Container {
        gap: auto;
    }

    .team-card {
        width: 300px;
        height: 600px;
    }
}

@media only screen and (max-width: 1400px) {
    #Chi-Siamo-Container {
        width: 95%;
    }

    .team-card {
        width: 300px;
        height: 600px;
        margin: 10px;
        padding: 10px;
    }
}
